.bpm-header {
    background-color: #FFE9EE;
}

.bpm-big {
    font-size: 18px;
}

.bpm-bigger {
    font-size: 22px;
}

.bpm-pain{
    border: 1px solid #49A078;
    border-radius: 15px;
}

.bpm-pain > legend {
    width:4.2em;
}

.bpm-revision{
    border: 1px solid #49A078;
    border-radius: 15px;
}

.bpm-revision > legend {
    width:3.5em;
}

.bpm-phone {
    width:300px;
    height:620px;
}

.bpm-recs{
    border: 1px solid #49A078;
    border-radius: 15px;
}

.bpm-recs > legend {
    width:14em;
}