.bpm-header {
    background-color: #FFE9EE;
}

.bpm-big {
    font-size: 18px;
}

.bpm-bigger {
    font-size: 22px;
}

.bpm-phone {
    width:300px;
    height:620px;
}

.bpm-recs{
    border: 1px solid #49A078;
    border-radius: 15px;
}

.bpm-recs > legend {
    width: auto;
}