@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
.navbar {
  background-color: #fff;
  height: 85px;
  z-index: 999;
}

.navbar-logo {
  /*important: site name*/
  color: #216869;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.nav-menu {
  display:grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  margin: unset;
  padding-left: unset;
}

.nav-link {
  /*important: links*/
  font-size: 20px;
  color: #49A078;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-link:hover {
  /*important: links*/
  color:#216869;
  text-decoration: underline;
}

.fa-bars {
  color: #216869;
}

.menu-icon {
  display: none;
}

.dropdown-item {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #1F2421;
  letter-spacing: 0.05em;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #fff;
  background-color: #216869;
}

.dropdown-item.active{
  color: #fff;
  text-decoration: none;
  background-color: #49A078;
}

.dropdown-toggle::after {
  display: inline-block;
  width: .5em;
  height: .5em;
  margin: -.3em 0 0 .4em;
  vertical-align: middle;
  content: "";
  border: .3em solid;
  border-width: 0 .13em .13em 0;
  transform: rotateZ(45deg)
}

a.nav-link.active{
  color: #216869;
  font-weight:600;
}

@media screen and (max-width: 500px) {
  .navbar-logo {
    font-size: 18px;
  }

  .head-break {
    display:block;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .navbar-logo {
    font-size: 22px;
  }

  .head-break {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .navbar-logo {
    font-size: 24px;
  }

  .head-break {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 84px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding-bottom: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
  }

  .nav-menu.active {
    background: #fff;
    right: 0;
    width: 257px;
    justify-self: end;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    box-shadow: -4px 4px 4px rgba(33, 104, 105, 0.25);
  }

  .nav-item > ul {
    margin-left: 25px;
  }

  .nav-item > ul > li {
    text-align: start;
    padding-left: 5px;
    padding-bottom: 10px;
    list-style-type:'🌽' !important;
  }

  .nav-item > ul > li > .nav-mini {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1F2421;
  }

  .nav-item > ul > li > .nav-mini:hover {
    text-decoration: underline;
  }

  .nav-item > ul > li > .nav-mini.active  {
    text-decoration: underline;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #216869;
    font-size: 2rem;
  }
}