@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, button, h1, h2, h3 {
  font-family: 'Didact Gothic', sans-serif;
}

a {
  font-weight: 600;
}

a:hover, button:hover {
  color: #216869;
}

a, h3 {
  color: #49A078;
}

button, h1, h2, h3 {
  font-weight: bold;
}

h1, h2 {
  color: #216869;

}

a {
  text-decoration: underline;
}

button {
  border-style: none;
  background-color: #5DB075;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 63px;
  padding-right: 63px;
  letter-spacing: 0.1em;
}

button:hover {
  color: #fff;
  background-color: #216869;
}

h1 {
  text-decoration: underline;
  text-underline-offset: 15px;
}

.hm-card {
  border-radius: 5px;
  border-top-left-radius: 20px;
  box-shadow: 4px 4px 4px rgba(33, 104, 105, 0.25);
}

.hm-items {
  color: #6D716F;
}

.lia > ul > li, .lib > ul > li, .lic > ul > li, .lid > ul > li, .lie > ul > li {
  list-style-type: disc !important;
  list-style-image: none;
}

.lia > ol > li, .lib > ol > li, .lic > ol > li, .lid > ol > li, .lie > ol > li {
  list-style-type:decimal !important;
  list-style-image: none;
}



.lia > p, .lib > p, .lic > p, .lid > p, .lie > p, .lif > p, .lig > p, .lih > p {
  vertical-align: top;
  display: inline-block;
  margin-top: -7px;
}

.lia > span, .lib > span, .lic > span, .lid > span, .lie > span, .lif > span, .lig > span, .lih > span {
  vertical-align: top;
  display: inline-block;
  margin-top: -7px;
}

.lia {
  list-style-image: url(./components/img/a.png);
  padding-inline-start: 1ch;
}

.lib {
  list-style-image: url(./components/img/b.png);
  padding-inline-start: 1ch;
}

.lic {
  list-style-image: url(./components/img/c.png);
  padding-inline-start: 1ch;
}

.lid {
  list-style-image: url(./components/img/d.png);
  padding-inline-start: 1ch;
}

.lie {
  list-style-image: url(./components/img/e.png);
  padding-inline-start: 1ch;
}

.lif {
  list-style-image: url(./components/img/f.png);
  padding-inline-start: 1ch;
}

.lig {
  list-style-image: url(./components/img/g.png);
  padding-inline-start: 1ch;
}

.lih {
  list-style-image: url(./components/img/h.png);
  padding-inline-start: 1ch;
}

.swiper-pagination-bullet-active, .swiper-pagination-bullet-inactive {
  background-color: #5DB075 !important;
}

.swiper-button-prev, .swiper-button-next {
  color: #1F2421 !important;
}

ul > li > ul > li {
  list-style-type:disc !important;
  margin-left: -20px;
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  :root {
    --swiper-navigation-size: 0px !important;
  }
  
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

   a, body, button, h3 {
    font-size: 14px;
   }

   .swiper-pagination-bullet {
    margin-right: 20px !important;
    width: 14px !important;
    height: 14px !important;
  }
}

/* Tablets, Small Laptops, and Screens */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  :root {
    --swiper-navigation-size: 0px !important;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

   a, body, button, h3 {
    font-size: 15px;
   }

   .swiper-pagination-bullet {
    margin-right: 20px !important;
    width: 16px !important;
    height: 16px !important;
  }
}

/* Desktops and large screens */
@media screen and (min-width: 1025px) {
  :root {
    --swiper-navigation-size: 0px !important;
  }
  
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

   a, body, button, h3 {
    font-size: 16px;
   }

   .swiper-pagination-bullet {
    margin-right: 20px !important;
    width: 18px !important;
    height: 18px !important;
  }
}